/** theme: neo-gnu
 *
 * @package   StatusNet
 * @author    Samantha Doherty <sammy@status.net> 
 * @modified  MeikoDis <meikodis@meikodis.org>
 * @copyright 2011 StatusNet, Inc.
 * @license   http://creativecommons.org/licenses/by/3.0/ Creative Commons Attribution 3.0 Unported
 * @link      http://status.net/
 */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot?') format('eot'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#webfontCjmEHx3G') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold-webfont.eot?') format('eot'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg#webfontCjmEHx3G') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic-webfont.eot?') format('eot'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato-italic-webfont.svg#webfontCjmEHx3G') format('svg');
    font-weight: normal;
    font-style: italic;
}

@media screen, projection, tv {

/* general styles and layout */

body {
    background-color: #C6C8CC;
    background-image: url(../images/bg.png);
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #222;
}

input, textarea, select, option {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

a {color: #3e3e8c;}
a:hover {color: blue;}

abbr {border-bottom: none;}

h1 {font-size: 1.6em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

#wrap {
    background: #fff url('../images/brdr_black_dot.png') repeat-x 0px 10px;
}

#header {
    padding-top: 12px;
}

#core {
    border-top: 5px solid #a22430;
    border-left: 1px solid #d8dae6;
    border-right: 1px solid #d8dae6;
}

#aside_primary_wrapper {
    background-color: #ececf2;  
}    

#content_wrapper  {  
    border-right: 1px solid #d8dae6;
}  

#site_nav_local_views_wrapper  {  
    background-color: #ececf2;  
    border-right: 1px solid #d8dae6;
}  

#footer {
    top: -6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* header elements */

#site_nav_global_primary {
    top: 10px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    background: #364A84;
    background: -moz-linear-gradient(top, #516499 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#516499), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -o-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #516499 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516499', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #516499 0%,#364a84 100%);
}

#site_nav_global_primary li {
    margin-right: 0px;
}

#site_nav_global_primary li:last-child {
    margin-right: 10px;
}

#site_nav_global_primary a {
    padding: 2px 10px 2px 10px;
    height: 20px;
    display: block;
    float: left;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#site_nav_global_primary a:hover {
    color: #fff !important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #4c619c;
    text-decoration: none;
}

#header-search {
    top: 1px;
    margin-left: 6px;
}

#header-search #search-q {
    position: relative;
    width: 131px;
    height: 12px;
    margin-right: 10px;
    padding: 2px 22px 2px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 0.88em;
}

#header-search input[type="submit"] {
    border: 0;
    background: url(../images/magnifier.png) no-repeat 2px 1px;
    text-indent: -9999px;
    width: 20px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}

#site_notice {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* input forms */

.input_forms {
    float: left;
    top: -20px;
    left: -20px;
    padding: 18px 20px 0px 20px;
    border-bottom: none;
    margin-bottom: 0px;
    background: #fafafa url('../images/brdr_black_dot.png') repeat-x bottom left;
}

#input_form_nav li a {
    display: block;
    float: left;
    padding: 0px 10px 1px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ECECF2;
    font-weight: bold;
    line-height: 1.4em;
    color: #3e3e8c;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
    background: #ececf2;
    background: -moz-linear-gradient(top, #ffffff 0%, #ececf2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececf2));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ececf2 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ececf2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ececf2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececf2',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#ececf2 100%);
}

#input_form_nav li:hover a, #input_form_nav li.current a {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #ececf2;
    background: #364a84;
    background: -moz-linear-gradient(top, #7b8dbb 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8dbb), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -o-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8dbb', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #7b8dbb 0%,#364a84 100%);
}

.input_form_nav_tab a, .input_form_nav_tab.current a {
    text-decoration: none;
}

.form_notice .error,
.form_notice .success,
.form_notice .notice-status {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form_notice_placeholder .placeholder,
.form_notice textarea ,
.input_form .form_settings li input,
.input_form .form_settings li textarea,
.threaded-replies .placeholder { /* TODO combine all these declarations */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.input_form .form_settings .submit {
    font-size: 1.1em;
}

/* site nav local views */

#site_nav_local_views H3 {
    margin-bottom: 10px;
    padding-bottom: 6px;
    background: url('../images/brdr_black_dot.png') repeat-x bottom left;
    color: #7a7c87;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

#site_nav_local_views a {
    display: block;
    width: 118px;
    padding: 0px 10px 1px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    word-wrap: break-word;
}

#site_nav_local_views a:hover, #site_nav_local_views .current a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #364a84;
    background: -moz-linear-gradient(top, #7b8dbb 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8dbb), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -o-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8dbb', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #7b8dbb 0%,#364a84 100%);
}

/* aside primary */

#aside_primary .section {
    font-size: 0.88em;
}

#aside_primary h2 {
    margin-bottom: 10px;
    padding-bottom: 6px;
    background: url('../images/brdr_black_dot.png') repeat-x bottom left;
    color: #7a7c87;
    font-size: 1.25em;
    letter-spacing: 2px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.profile_block .entity_actions {
    float: right;
    width: 110px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.profile_block .entity_moderation:hover ul,
.profile_block .entity_role:hover ul {
    right: 20px;
}

.profile_block_name {
    font-size: 14px;
    font-weight: bold;
}

.profile_block_location {
    font-weight: bold;
}

.profile_block_description {
    line-height: 1.2em;
}

#site_nav_object ul {
    background: url('../images/brdr_black_dot.png') repeat-x top left;
}

#site_nav_object li {
    display: block;
    margin: -8px 0px 8px 0px;
    padding-top: 8px;
}

#site_nav_object a {
    font-size: 14px;
    display: block;
    padding: 0px 0px 1px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

#site_nav_object a:hover, #site_nav_object .current a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #364a84;
    background: -moz-linear-gradient(top, #7b8dbb 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8dbb), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -o-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #7b8dbb 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8dbb', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #7b8dbb 0%,#364a84 100%);
}

.section ul.entities {
    width: 240px;
}

.section .entities li {
    margin-right: 3.6px;
    margin-bottom: 5px;
    width: 24px;
}

#popular_notices .avatar {
    position: relative;
    top: 4px;
    margin-bottom: 6px;
}

#aside_primary td {
    padding-right: 20px;
    padding-bottom: 14px;
}

#aside_primary td .nickname {
    line-height: 1.6em;
}

.section .avatar {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.invite_button {
    height: 2.1em;
    line-height: 2.1em;
    display: block;
    text-align: center;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #c33541;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #a22430;
    background: -moz-linear-gradient(top, #a22430 0%, #c33541 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541));
    background: -webkit-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -o-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -ms-linear-gradient(top, #a22430 0%,#c33541 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22430', endColorstr='#c33541',GradientType=0 );
    background: linear-gradient(top, #a22430 0%,#c33541 100%);
}

.invite_button:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    background: #a22430;
    background: -moz-linear-gradient(top, #c33541 0%, #d44652 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652));
    background: -webkit-linear-gradient(top, #a22430 0%,#d44652 100%);
    background: -o-linear-gradient(top, #a22430 0%,#d44652 100%);
    background: -ms-linear-gradient(top, #a22430 0%,#d44652 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22430', endColorstr='#d44652',GradientType=0 );
    background: linear-gradient(top, #a22430 0%,#d44652 100%);

}

/* notices etc */

#content h1 {
    border-bottom: 3px solid #A6ADBF;
    color: #A6ADBF;
    font-size: 1.4em;
    letter-spacing: 4px;
    text-transform: none;
}

#content .notice {
    padding-bottom: 4px;
    border-bottom: 2px dotted #eee;
}

.notice div.entry-content {
    font-size: 0.88em;
    line-height: 1.2em;
    margin-top: 6px;
    opacity: 0.6;
}

.notice:hover div.entry-content {
    opacity: 1;
}

.user_in .notice div.entry-content {
    max-width: 440px;
}

div.entry-content a.response:before {
	content: "(";
}

div.entry-content a.response:after {
	content: ")";
}

.notice-options {
    margin-top: 4px;
}

.notice-options .form_repeat.dialogbox {
    margin-right: 0px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.notice-options .form_repeat.dialogbox legend {
    padding-top: 10px;
}

.notice-options .form_repeat.dialogbox input.submit_dialogbox {
    min-width: 80px;
}

#content .threaded-replies .notice .author .photo {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.user_in.realtime-popup .notice div.entry-content {
    max-width: 320px;
}


.realtime-popup .threaded-replies {
    margin-left: 15px;
}

.realtime-popup .threaded-replies .form_notice textarea {
    width: 385px !important;
}

.realtime-popup .threaded-replies .form_notice label.notice_data-attach {
    top: 10px !important;
    right: 10px !important;
}


.pagination {
    height: 1.2em;
}

.entity_profile {
    float: left;
    width: 360px;
    margin-top: 4px;
}

.entity_profile .entity_depiction {
    margin-top: 4px;
}

.entity_actions {
    width: 140px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.entity_actions a, .entity_actions p, .entity_actions .entity_subscribe input, .entity_actions .entity_block input, .entity_actions .entity_moderation input, .entity_actions .entity_role input, .entity_actions .entity_nudge input, .entity_actions .entity_delete input, .entity_actions input.submit {
   	text-shadow:0 1px 0 rgba(255,255,255,0.4);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #CDD1DD !important;
}

.entity_moderation:hover ul,
.entity_role:hover ul {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.entity_send-a-message .form_notice legend {
   	text-shadow:0 1px 0 rgba(255,255,255,0.4);
}

.entity_send-a-message .form_notice {
    border: 1px solid #7B4E82;
}

.entity_send-a-message .form_notice #notice_action-submit {
    color: #fff !important;
    top: 46px;
}

.entity_subscribe .dialogbox, .entity_tag .dialogbox {
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.entity_subscribe .dialogbox input.submit_dialogbox, .entity_tag .dialogbox input.submit_dialogbox {
    color: #fff !important;
}

#filter_tags_item .submit {
  left: 6px;
  top: -3px;
}

#pagination {
    height: 1.2em;
    padding-bottom: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#pagination a {
    color: #3e3e8c;
}


#footer a {
    color: #3e3e8c;
}

#site_nav_global_secondary {
    margin-bottom: 10px;
}

.error, .success, .notice-status {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


.form_notice input.submit, .form_settings input.submit, .form_settings input.cancel, #form_invite input.submit,
.entity_subscribe .dialogbox input.submit_dialogbox,
.entity_tag .dialogbox input.submit_dialogbox,
.form_repeat.dialogbox input.submit_dialogbox
{ /* TODO combine all these declarations */
    height: 1.9em;
    padding: 0px 10px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #c33541;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #a22430;
    background: -moz-linear-gradient(top, #a22430 0%, #c33541 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541));
    background: -webkit-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -o-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -ms-linear-gradient(top, #a22430 0%,#c33541 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22430', endColorstr='#c33541',GradientType=0 );
    background: linear-gradient(top, #a22430 0%,#c33541 100%);
}

.form_notice input.submit:hover, .form_settings input.submit:hover, .form_settings input.cancel:hover, #form_invite input.submit:hover,
.entity_subscribe .dialogbox input.submit_dialogbox:hover,
.entity_tag .dialogbox input.submit_dialogbox:hover,
.form_repeat.dialogbox input.submit_dialogbox:hover
{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    background: #a22430;
    background: -moz-linear-gradient(top, #c33541 0%, #d44652 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652));
    background: -webkit-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -o-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -ms-linear-gradient(top, #c33541 0%,#d44652 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c33541', endColorstr='#d44652',GradientType=0 );
    background: linear-gradient(top, #c33541 0%,#d44652 100%);
}

.form_settings input#cancel, #form_action-no {
    background: #f2f2f2;
    color: #c33541;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.form_settings input#cancel:hover, #form_action-no:hover {
    background: #fff;
    color: #c33541;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.form_settings fieldset fieldset {
    margin-bottom: 30px;
    padding-top: 25px;
}

#invite #content p {
    margin-bottom: 15px;
}

#invite #content ul {
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: 25px;
}

#invite #content li {
    background: url(../images/resultset_next.png) no-repeat 0px 3px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#invite #content #form_invite ul, #invite #content #form_invite li {
    margin-left: 0px;
    padding-left: 0px;
    background: none;
}

#form_invite input[type=text], #form_invite textarea {
    width: 250px;
    padding: 5px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#form_invite textarea {
    clear: left;
    width: 508px;
    height: 48px;
}

#form_invite a.add_row, #form_invite a.remove_row {
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    background-image: url('../../base/images/icons/icons-01.gif');
    background-repeat: no-repeat;
}

#form_invite a.remove_row {
    background-position: 0px -1252px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 10px;
    line-height: 4em;
}

#form_invite a.add_row {
    clear: both;
    position: relative;
    top: 10px;
    background-position: 0px -1186px;
    width: 120px;
    padding-left: 20px;
    line-height: 1.2em;
}

#form_invite label[for=personal] {
    display: block;
    margin-top: 25px;
}

#content thead th {
text-align:left;
}
#content tbody th {
vertical-align:top;
text-align:left;
font-weight:normal;
padding-top:11px;
padding-right:18px;
}
#content tbody tr {
    border-top: 1px dotted #bbb;
}
#content td {
padding:11px 18px 11px 0;
vertical-align:top;
}
#content td:last-child {
padding-right:0;
}

/* Search */

#form_search {
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: url('../images/brdr_black_dot.png') repeat-x bottom left;
}

#form_search fieldset {
    margin-bottom: 0px;
}

#form_search ul.form_data #q {
    margin-left: 10px;
    width: 210px;
}

#form_search input.submit {
    height: 1.6em;
    line-height: 1.6em;
    font-size: 1.1em;
    padding-bottom: 2px;
    margin-left: 5px;
}

#noticesearch .entity_actions {
    margin: 0px;
}

#noticesearch p.error {
    margin-top: 60px;
}

/* Limited-scope */

.limited-scope .entry-content .timestamp {
    padding-left: 20px;
    position: relative;
}

.limited-scope .entry-content .timestamp:before {
    content: url(../images/lock.png);
    position: absolute;
    top: -2px;
    left: 0px;
}

.limited-scope li .entry-content .timestamp {
    padding-left: 0px;
}

.limited-scope li .entry-content .timestamp:before {
    content: none;
}

.limited-scope li.limited-scope .entry-content .timestamp {
    padding-left: 20px;
}

.limited-scope li.limited-scope .entry-content .timestamp:before {
    content: url(../images/lock.png);
    position: absolute;
    top: -2px;
    left: 0px;
}

/* Blog */

label[for=blog-entry-content] {
    display: none !important;
}

#input_form_blog td {
    padding-top: 0px;
    padding-bottom: 0px;
}

#input_form_blog td.mceToolbar {
    padding-top: 4px;
}

h4.blog-entry-title {
    margin-bottom: 8px;
    line-height: 1.2em;
}

/* Bookmark specific styles */
/* TODO separate base styles and move to plugin */

.bookmark h3 {
    margin: 0px 0px 8px 0px;
    float: left;
    line-height: 1.2em;
    max-width: 92%;
}

.bookmark-notice-count {
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    padding: 1px 6px;
    font-size: 1.2em;
    line-height: 1.2em;
    background: #fff;
    border: 1px solid #7b8dbb;
    color: #3e3e8c !important;
    position: relative;
    right: 4px;
    margin-left: 10px;
}

.bookmark-notice-count:hover {
    text-decoration: none;
    background: #f2f2f2;
    border: 1px solid #7b8dbb;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.notice .bookmark-description {
    clear: both;
    margin-left: 0px;
    margin-bottom: 0px;
}

.notice .bookmark-author {
    margin-left: 0px;
    float: left;
}

.bookmark-tags {
    clear: both;
    margin-bottom: 8px;
    line-height: 1.6em;
}

ul.bookmark-tags a {
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    padding: 1px 6px;
    background: #f2f2f2;
    color: #3e3e8c !important;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 0.88em;
}

ul.bookmark-tags a:hover {
    background-color: #cdd1dd;
    text-decoration: none;
}

.bookmark-avatar {
    float: none !important;
    position: relative;
    top: 2px;
}

.bookmark div.entry-content {
    font-size: 0.88em;
    line-height: 1.2em;
    margin-top: 6px;
    opacity: 0.6;
    margin-bottom: 0px;
}

.bookmark:hover div.entry-content {
    opacity: 1;
}

#bookmarkpopup {
    min-width: 600px;
    margin-top: 0px;
    height: 100%;
    border: 10px solid #364A84;
    background: #364A84;
}

#bookmarkpopup #wrap {
    width: auto;
    min-width: 560px;
    padding: 40px 0px 25px 0px;
    margin-right: 2px;
    background: #fff url(../mobilelogo.png) no-repeat 6px 6px;
}

#bookmarkpopup #header {
    width: auto;
    padding: 0px 10px;
}

#bookmarkpopup .form_settings label {
    margin-top: 2px;
    text-align: right;
    width: 24%;
    font-size: 1.2em;
}

#bookmarkpopup .form_settings .form_data input {
    width: 60%;
}

#bookmarkpopup .form_guide {
    color: #777;
}

#bookmarkpopup #bookmark-submit {
    min-width: 100px;
}

#bookmarkpopup fieldset fieldset {
    margin-bottom: 10px;
}

#form_initial_bookmark.form_settings .form_data li {
    margin-bottom: 0px;
}

#form_new_bookmark.form_settings .bookmarkform-thumbnail {
    position: absolute;
    top: 50px;
    right: 0px;
}

/* Onboard specific styles */
/* TODO move to plugin */

#cboxOverlay{
    background: url(../images/lightbox_bg.png) repeat 0 0 !important;
}

#cboxContent{
    background: #fff url(../logo.png) no-repeat 10px bottom !important;
}

.onboard_iframe {
    background: none;
    padding: 10px;
}

.onboard_iframe #wrap {
    width: auto;
    background: none;
}

.onboard_welcome p {
    margin-bottom: 10px;
}

.onboard_welcome ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.onboard_welcome ul li {
    background: url(../images/resultset_next.png) no-repeat 0px 3px;
    padding-left: 20px;
    margin-left: 10px;
}

#aside_primary #onboard_section {
    background: #f2f2f2;
    width: 196px;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #516499;
    background: #fafafa;
}

#onboard_section H2 {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: -11px;
    left: -11px;
    padding: 2px 0px 2px 10px;
    margin-right: -22px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #364A84;
    background: -moz-linear-gradient(top, #516499 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#516499), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -o-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #516499 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516499', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #516499 0%,#364a84 100%);
}

#onboard_section ul {
    list-style-type: none;
}

#onboard_section .onboard-step-incomplete {
    background: url(../images/resultset_next.png) no-repeat 0px 1px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#onboard_section .onboard-step-complete {
    background: url(../images/tick.png) no-repeat 0px 1px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-decoration: line-through;
    color: #555;
}

/* Billing specific styles */
/* TODO move to plugin */

#content table.billing_info {
    margin-top: 10px;
    background:rgba(240, 240, 240, 0.4);
}

#content table.billing_info th {
    text-align: right;
    width: 50%;
}

.invalid {
    border: solid 2px red !important;
}

#payment_history table {
    width: 100%;
}

#billingadminpanel .form_settings input {
    margin-right: 0px;
}

/* Directory specific styles */
/* TODO separate base styles and move to plugin */

div#profile_directory div.alpha_nav > a {
    border-left: 1px solid #ccc !important;
    padding-left: 3.5px !important;
    padding-right: 4px !important;
    margin-right: 0px;
    float: left;
    line-height: 1.4em;
}

div#profile_directory div.alpha_nav > a.first {
    border-left: none !important;
}

div#profile_directory div.alpha_nav a.current {
    background-color: #ECECF2 !important;
}

table.profile_list {
    margin-top: 25px;
}

.profile_list th {
    font-size: 0.8em;
}

.profile_list th#created {
    width: 100px;
}

.profile_list th#subscriptions {
    width: 90px;
}

.profile_list th.current {
        background: none !important;
}

.profile_list th.current.reverse {
        background: none !important;
}

.profile_list th.current a {
        padding-right: 25px;
        background: url(../images/bluearrow_down.png) no-repeat top right;
}

.profile_list th.current.reverse a {
        background: url(../images/bluearrow_up.png) no-repeat top right;
}

table.profile_list tr.alt {
    background-color: #fafafa !important;
    border: none !important;
}

td.entity_profile {
    width: auto;
    min-width: 250px;
}

.profile_list .fn {
    display: block;
    font-size: 1.1em;
    width: auto;
}

.profile_list .nickname, .profile_list .fn.nickname {
    position: relative;
    top: -8px;
    display: block;
    margin-bottom: -12px;
    font-size: 1.4em;
}

.profile_list .label {
    display: block;
    margin-left: 59px !important;
}

.profile_list .note {
    font-size: 0.88em;
    line-height: 1.36em;
}

.profile_list .entry_created, .profile_list .entry_subscriber_count, .profile_list .entry_notice_count {
    font-size: 0.88em;
}

.profile_list td.entity_actions {
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    height: 20px;
    padding-left: 6px !important;
    position: relative;
    float: none;
    display: table-cell !important;
}

.profile_list .entity_actions ul {
    position: absolute;
    right: 20px;
}

.profile_list .entity_actions input {
    width: 22px;
    height: 22px;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 20px;
    display: block;
    overflow: hidden;
    font-size: 0em;
    border: 1px solid #CDD1DD;
}

.profile_list .form_group_leave input.submit,
.profile_list .form_user_unsubscribe input.submit {
    background-position: 2px -1250px;
}

.profile_list .form_group_join input.submit,
.profile_list .form_user_subscribe input.submit {
    background-position: 2px -1184px;
}

.profile_list .entity_actions input:hover {
    width: auto;
    padding-right: 10px;
    overflow: visible;
    font-size: 1em;
    line-height: 1.3em;
    border: 1px solid #A6ADBF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* Event specific styles */
/* TODO separate base styles and move to plugin */

.notice .vevent div {
    margin-bottom: 8px;
}

.event-info {
    margin-left: 0px !important;
    margin-top: 2px !important;
}

.notice .event-info + .notice-options {
    margin-top: 14px;
}

.notice .threaded-replies .event-info + .notice-options {
    margin-top: 20px;
}

#form_event_rsvp #new_rsvp_data {
    display: inline;
    margin: 10px 0px;
}

#form_event_rsvp input.submit {
    height: auto;
    padding: 0px 10px;
    margin-left: 10px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #c33541;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #a22430;
    background: -moz-linear-gradient(top, #a22430 0%, #c33541 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541));
    background: -webkit-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -o-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -ms-linear-gradient(top, #a22430 0%,#c33541 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22430', endColorstr='#c33541',GradientType=0 );
    background: linear-gradient(top, #a22430 0%,#c33541 100%);
}

#form_event_rsvp input.submit:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    background: #a22430;
    background: -moz-linear-gradient(top, #c33541 0%, #d44652 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652));
    background: -webkit-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -o-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -ms-linear-gradient(top, #c33541 0%,#d44652 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c33541', endColorstr='#d44652',GradientType=0 );
    background: linear-gradient(top, #c33541 0%,#d44652 100%);
}

#wrap .vevent form.processing input.submit {
    text-indent: 0;
    background: #a22430;
}

#input_form_event .form_settings .form_data {
    float: left;
}

#input_form_event .form_settings .form_data li {
    float: left;
    width: auto;
}

#input_form_event .form_settings .form_data label {
    width: auto;
}

label[for=event-starttime], label[for=event-endtime] {
    display: none !important;
}

#event-starttime, #event-endtime {
    margin-top:  -1px;
    margin-bottom:  -1px;
    height: 2em;
}

#event-startdate, #event-enddate {
    margin-right: 20px;
    width: 120px;
}

/* QnA */

.question div.question-description {
    font-size: 1em;
    line-height: 1.36em;
    margin-top: 0px;
    opacity: 1;
}

.question div.answer-content, .qna-full-question div.answer-content {
    font-size: 1em;
    opacity: 1;
}

.qna-dummy-placeholder input, .question #qna-answer, .qna-full-question #qna-answer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.question-description input.submit, .answer-content input.submit {
    height: auto;
    padding: 0px 10px;
    margin: 6px 0px 10px 0px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #c33541;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #a22430;
    background: -moz-linear-gradient(top, #a22430 0%, #c33541 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541));
    background: -webkit-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -o-linear-gradient(top, #a22430 0%,#c33541 100%);
    background: -ms-linear-gradient(top, #a22430 0%,#c33541 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22430', endColorstr='#c33541',GradientType=0 );
    background: linear-gradient(top, #a22430 0%,#c33541 100%);
}

#qna-answer-submit {
    min-width: 100px;
}

.question .question-description input.submit:hover, .question .answer-content input.submit:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    background: #a22430;
    background: -moz-linear-gradient(top, #c33541 0%, #d44652 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652));
    background: -webkit-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -o-linear-gradient(top, #c33541 0%,#d44652 100%);
    background: -ms-linear-gradient(top, #c33541 0%,#d44652 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c33541', endColorstr='#d44652',GradientType=0 );
    background: linear-gradient(top, #c33541 0%,#d44652 100%);
}

.question .question-description #answer-form input.submit {
    margin-top: 0px;
}

.question p.best, .answer p.best {
    background: url(../images/rosette.png) no-repeat top left;
    padding-left: 20px;
}

.question p.best:before, .answer p.best:before {
    content: none !important;
}

/* Poll specific styles */

.notice div.poll-content {
    opacity: 1;
}

#poll-response-submit {
    min-width: 100px;
}

/* SNOD CompanyLogo styling */
/* TODO move to plugin */

#site_nav_local_views a.company_logo {
    width: 138px;
    padding: 0px;
    font-weight: bold;
    text-transform: none;
    line-height: 1em;
    margin-bottom: 20px;
    position: relative;
    top: -4px;
}

#site_nav_local_views a.company_logo:hover {
    background: none;
    color: blue;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.company_logo img {
    max-width: 138px;
    margin-bottom: 4px;
}

.company_logo span {
    display: block;
}

a.company_logo:hover span {
    text-decoration: underline;
}

}/*end of @media screen, projection, tv*/
